/* 
color-primary: #06131F
color-secondary: #112030 
color-body:#1D2D3C
*/


header {
    background-color: #06131F !important;
}

body{
    background-color: #1D2D3C !important;
    height: 100vh;
}


